<html>

<head>
	<meta charset="UTF-8">
	<title>Inspire</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body id="body">

	<div id="todo">
		<div class="showTodos" @click="tm.showToDos()">
			<h3>show todos<h3>
		</div>

		<div v-if="show_Todos" class="todoBox">
			<div class="todoCounter">
				<p>{{numtodo}} to do</p>
			</div>
			<ul>
				<li v-for="(item,index) in todo" @click="tm.checkItem(item)">
					<span v-if="item.status==1"><i class="fa fa-square-o" aria-hidden="true"></i></span>
					<span v-if="item.status==2"><i class="fa fa-check-square-o" aria-hidden="true"></i></span> {{item.text}}
				</li>
			</ul>

			<div id="todoForm">
				<form @submit.prevent="formSubmitted">
					<input type="text" v-model="inputToDo" style="color:black;"><span v-on:click="tm.hideTodos()">Hide ToDos</span>
					<button type="button" class="deleteChecks" v-on:click="tm.clearCompleated()" style="color: black; background-color: orangered; position: absolute; top: 15px; right: 15px;">Clear Completed</button>
					<button type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;">Add Todo</button>
				</form>
			</div>
		</div>
	</div>

	<div id="weather">
		<div class="wxBox" @click="wm.flipTemp()">
			<h2 v-if="showC">{{tempC}} C</h2>
			<h2 v-else>{{tempF}} F</h2>
			<h2>{{where}}</h2>
		</div>
	</div>

	<div id="quote">
		<div class="quoteBox" v-on:mouseover="showText = !showText">
			<h2 v-if="showText">{{quoteText}}</h2>
			<h2 v-else>{{quoteAuthor}}</h2>
		</div>
	</div>


	<div class="clockBox">
		<div id="clock">
			<h1 @click="cm.showMilitary()">{{time}}</h1>
			<h1 @click="cm.setName()">{{messageText}} {{nameText}}</h1>
			<input type="text" style="color:black;" v-model="nameText" v-if="showNameText">
		</div>
	</div>

<!--JS Libraries-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<!--Initialize App-->
<script src="app/init.js"></script>
<script src="app/components/weather/weather-service.js"></script>
<script src="app/components/image/image-service.js"></script>
<script src="app/components/quote/quote-service.js"></script>
<script src="app/components/todo/todo-service.js"></script>
<script src="app/components/clock/clock-service.js"></script>

<!--Load your scripts below-->
<script src="app/components/weather/weather-controller.js"></script>
<script src="app/components/image/image-controller.js"></script>
<script src="app/components/quote/quote-controller.js"></script>
<script src="app/components/todo/todo-controller.js"></script>
<script src="app/components/clock/clock-controller.js"></script>

</body>
</html>