body {background-repeat: no-repeat;
background-size: cover;
}

.todoBox {
    position: fixed;
    bottom: 0;
    right: 20px;
    margin-bottom: 10px;
    width:20%;
    background-color: black;
    color:white;
    padding: 15px 15px;
    }

.showToDos
{
    position: fixed;
    bottom: 0;
    right: 20px;
    margin-bottom: 0px;
    color:white;
    padding: 5px 5px;
}

ul {list-style-type: none;}

.todoCounter {margin-top:5px; margin-left:40px;}

.deleteChecks {color: orangered;}

.wxBox
{
    position: fixed;
    top: 0;
    right: 20px;
    margin-top: 10px;
    width:20%;
    background-color: black;
    color:white;
    padding: 15px 15px;
}

.quoteBox
{
    position: fixed;
    bottom: 0;
    right: 30%;
    margin-bottom: 10px;
    width:40%;
    background-color: black;
    color:white;
    padding: 15px 15px;
}

.clockBox
{
    position: fixed;
    bottom: 50%;
    right: 40%;
    width:20%;
    background-color: black;
    color:white;
    padding: 15px 15px;
}